body{background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*background-size: 1920px 1080px;*/
}

#content0{
    float: left;
    color: aquamarine;
}
#content1{
    float: left;
    margin-left: 150px;
    visibility: hidden;
    background-color: black;
}
#content2{
    float: left;
    margin-left: 150px;
    visibility: hidden;
    background-color: black;
}
#content3{
    float: left;
    margin-left: 150px;
    visibility: hidden;
    background-color: black;
}
#content4{
    float: left;
    margin-left: 150px;
    visibility: hidden;
    background-color: black;
}
#content5{
    float: left;
    margin-left: 150px;
    visibility: hidden;
    background-color: black;
}
